typing~=3.7.4.1
pytest==7.1.2
numpy==1.23.1
scipy~=1.8.0
matplotlib~=3.5.1
sympy~=1.10
scikit-learn==1.1.1
networkx==2.8.4
jdk4py==17.0.3.0
anytree~=2.8.0
pddl-plus-parser==1.4.4
pandas~=1.4.3
scikit-obliquetree==0.1.4
STree~=1.2.4